$palette: (
    bg-1: #2b2a2a,
    bg-1-darken: #222121,
    bg-1-darker: #1d1c1c,
    fg-1: #9aa2a6,
    accent-1: rgb(255, 71, 71),
    accent-2: rgba(255, 71, 71, 0.3),
    accent-3: rgb(69,154,189),
    accent-4: rgba(69,154,189, 0.3)
)